div.panneau {
  position:absolute;
  left: calc(50% - 200px);
  top:200px;
  width: 400px;
  background-color:#EEEEEE;
  border: 3px solid;
  border-radius:12px;
  z-index: 100;
  padding:2em;
}

div.panneau h2, div.panneau h3 {
  margin-top: 0;
  font-variant: all-small-caps;
}

div.panneau section.content {
  max-height: 600px;
  overflow-y: auto;
}

div.panneau fieldset.options-container {
  display:block;
  border:1px solid #999999;
  border-radius: 4px;
  margin:12px;
  padding:1em;
}


div.panneau#panneau-quick-aide {
  width: 680px;
}

div.panneau div.div-shortcut {
  border:1px solid #DDDDDD;
  padding: 2px;
  margin-top: 2px;
}
div.panneau div.div-shortcut span.shortcut {
  display: inline-block;
  width: 100px;
}


div#help-viewer-panneau {
  position: absolute;
  z-index:  10;
  width:    1400px;
  left:     calc(50% - 700px);
  height:   auto;
  top:      100px;
  padding:  1em;
  background-color: #444444;
}

div.buttons button.fleft {
  margin-right: 20px;
}

div#panneau-blocnotes {
  left:  50%;
  width: 880px;
  height: 760px;
  background-color:#EEEEEE;
}

div#panneau-blocnotes span#nombre_et_index_note {
  font-size: 14pt;
}

div#panneau-blocnotes nav#nav-in-notes {
  float:right;
}

div#panneau-blocnotes div#blocknotes-reader,
div#panneau-blocnotes textarea#blocknotes-editor
{
  height: calc(660px - 2em);
}
div#panneau-blocnotes div#blocknotes-reader {
  background-color:white;
  padding:1em 2em;
  font-size: 20pt;
  font-family:inherit;
}
div#panneau-blocnotes textarea#blocknotes-editor {
  width: 100%;
  resize:none;
  font-size: 20pt;
  font-family:inherit;
}
