header {
  width:100%;
  background-color:#000;
  color: #FFF;
  padding:0.5em;
}

header span#image-name {
  color:#68ff53;
}

footer#main {
  width:80%;
}
footer#main {
  position:fixed;
  text-align:right;
  bottom:0;
  width:100%;
  z-index:100;
  background-color:black;
  padding-right:2em;
}
footer#main button {
  font-size: 20pt;
  padding: 0.2em 1em;
}
footer span.text {color:white}

button.btn-print {
  width: 240px;
  disabled: false;
}
button.btn-print.disabled {
  disabled: true;
  background-color: #FF5555;
  border-color:red;
}
button.btn-print span.content {
  color:black;
}
button.btn-print.disabled span.content {
  color:white;
  animation: blinker 1s linear infinite;
}

div#image-dropper {
  width: 400px;
  height: 200px;
  background-color:#888888;
  position:fixed;
  top: 20%;
  left:calc(50% - 200px);
  padding:4em;
}
div#image-dropper span.msg {
  z-index:-1;
  color:white;
}

div#container-original-score {
  padding:0;
  border:1px solid black;
  position:relative;
  margin-top:200px;
}

body {
  position:relative;
}
body > section {
  position:fixed;
  width: 33%;
}
section#section-original-score { left: 0 }
section#section-mus-code { left: 33% }
section#section-viewer { 
  left: 66.6%;
}

section > title {
  position:absolute;
  top:10px;
  left:10px;
  color: #999999;
  font-size:3rem;
  z-index:0;
}
section div.explication-section {
  color:#999999;
  position:absolute;
  top:10%;
  width:60%;
  left:20%;
  font-size:2rem;
  text-align:center;
  z-index:0;
}


textarea#mus-code {
  width: 100%;
  background-color:#555555;
  color: #EEEEEE;
}

div.vignettes-container {
  position:absolute;
  bottom:0;
  left:0;
  background-color:#EEEEEE;
  width: calc(100% - 8px);
  padding:4px;
  opacity:0.5;
}
div.vignettes-container:hover {opacity: 1;}

.vignette {
  float: left;
  min-height: 100px;
  background-color: #DDDDFF;
  border: 3px solid transparent;
}
.vignette img {
  width:100%;
}
.vignette.dropped {
  background-color:#228822;
}
.vignette.selected {
  border-color: blue;
}

div.container-current-page {
  max-width: 98%;
  padding:1em;
  overflow-x: hidden;
  overflow-y: auto;
}

div.container-current-page  img.current-page {
  max-width: 100%;
  width: 100%;
}
